<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000001"/>
    <meta property="og:image" content="https://cdn.discordapp.com/emojis/911692966060511274.png?size=96">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/emojis/911703238514970644.gif?size=96" type="image/gif">
    <meta property="og:title" content="rich pobretas"/>
    <meta property="og:description" content="Sim, nos somos  CRINGES

    C onscientemente gostosos
    
    R ealmente gostosos
    
    I ncrívelmente gostosos
    
    N ítidamente gostosos
    
    G ostosos
    
    E u já disse que somos gostosos?">

   </head>

<body>

  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <a href="https://betrayed.cc/" target="_blank">
    <div class="main-card">
      <div class="cards">    
        <div class="card">
         <div class="content">
          <div class="img">
          <img src="<%= yogurt.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= yogurt.username%>">
          </a>
           </div>
             <div class="name"><%= yogurt.username%>#<%= yogurt.discriminator %></div>
             <div class="badges">

                         <%
            flags.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost9month.svg" width="20" height="17">
           </div>
         </div>
        </div>

        <a href="https://www.instagram.com/guthy_kidstark/" target="_blank">     
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="<%= rep7.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= rep7.username%>">
           </div>
          </a>
           <div class="name"><%= rep7.username%>#<%= rep7.discriminator %></div>
           <div class="badges">
               <%
            flagsrep7.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/Verified_Bot_Developer.svg" width="20" height="18">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20">
           </div>
 
         </div>
        </div>
 
        <a href="https://www.instagram.com/arkoyfofx/" target="_blank">
         <div class="card">
         <div class="content">
           <div class="img">
            <img src="<%= arkoy.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= arkoy.username%>">
           </div>
          </a>
           <div class="name"><%= arkoy.username%>#<%= arkoy.discriminator %></div>
           <div class="badges">
               <%
            flagsarkoy.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost2month.svg" width="20" height="17">
           </div>

         </div>
        </div>
        
        <a href="https://twitter.com/dltyxnz" target="_blank">
        <div class="card">
         <div class="content">
           <div class="img">
           <img src="<%= duality.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= duality.username%>">
           </div>
          </a>
           <div class="name"><%= duality.username%>#<%= duality.discriminator %></div>
           <div class="badges">
            <%
            flagsduality.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/Verified_Bot_Developer.svg" width="20" height="18">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost2month.svg" width="20" height="17">
              </div>
         </div>
        </div>
      </div>

      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="<%= lucas47.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= lucas47.username%>">
           </div>
           <div class="name"><%= lucas47.username%>#<%= lucas47.discriminator %></div>
           <div class="badges">
                       <%
            flagslucas47.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">
           </div>
         </div>
        </div>

        <a href="https://www.instagram.com/luisaoozk/" target="_blank">
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="<%= luisao.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= luisao.username%>">
           </div>
          </a>
           <div class="name"><%= luisao.username%>#<%= luisao.discriminator %></div>
           <div class="badges">
                       <%
            flagsluisao.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17"</div>
           </div>
         </div>
        </div>
        
        <a href="https://www.instagram.com/rushkklk/" target="_blank">
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="<%= rush7.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= rush7.username%>">
           </div>
          </a>
           <div class="name"><%= rush7.username%>#<%= rush7.discriminator %></div>
           <div class="badges">
            <%
            flagsrush7.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost2month.svg" width="20" height="17">
           </div>
         </div>
        </div>

        <div class="card">
         <div class="content">
           <div class="img">
            <img src="<%= system1777.displayAvatarURL({ dynamic: true, format: "png", size: 2048 }) %>" alt="<%= system1777.username%>">
           </div>
           <div class="name"><%= system1777.username%>#<%= system1777.discriminator %></div>
           <div class="badges">
                       <%
            flagssystem1777.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost9month.svg" width="20" height="17">
           </div>
         </div>
        </div>
      </div>
    </div>
    
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>

    <button onclick="discord()" style="cursor:pointer" class="button5" type="button">SERVIDOR</button>

  </div>

    <script>
  const discord = () => window.open('https://discord.gg/bGBXytAuq4', '_blank');

  var rev = "fwd";
    function titlebar(val){
        var msg  = "pobretes";
        var res = " ";
        var speed = 100;
        var pos = val;
        msg = ""+msg+"";
        var le = msg.length;
        if(rev == "fwd"){
            if(pos < le){
                pos = pos+1;
                scroll = msg.substr(0,pos);
                document.title = scroll;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "bwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
        else {
            if(pos > 0) {
                pos = pos-1;
                var ale = le-pos;
                scrol = msg.substr(ale,le);
                document.title = scrol;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "fwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
    }
    titlebar(0);
       </script>


  <video id="video" autoplay loop muted>
    <source src="video.mp4" type="video/webm">
    </video>
  
  <audio autoplay loop>
      <source src="audio.mp3" type="audio/mp3" />
    </audio>
    
</body>
</html>
