
<!DOCTYPE html>
<html lang="en" >


<!-- roi 😳😲🤩 -->



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000001"/>
  <meta property="og:image" content="https://cdn.discordapp.com/emojis/911692966060511274.png?size=96">
  <link rel="shortcut icon" href="https://cdn.discordapp.com/emojis/936974683117588522.webp?size=96&quality=lossless" type="image/gif">
  <meta property="og:title" content="*:☆`"/>
  <meta property="og:description" content="<%= server.name %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
  <link rel="stylesheet" href="./styles.css">

</head>

<body>

<div class="container">
  <div class="at-section">


  <div class="at-server__avatar">
  <img src="<%= server.iconURL({ dynamic: true, format: "png", size: 2048}) %>"/>
  </div>

    <div class="at-section__title"> <%= server.name %> </div>
    <div id="button" style="cursor:pointer" onclick="servidor()"> ENTRAR </div>  
  </div>

  <script>
  const servidor = () => window.open('https://discord.gg/<%=server.vanityURLCode%>', '_blank');
  document.body.style.backgroundColor = `#000001`;
  </script>


  <div class="at-grid" data-column="3">
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
        <img src="<%= yogurt.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= yogurt.username %>"/>
        </div>

        <div class="at-user__name"><%= yogurt.username%>#<%= yogurt.discriminator %></div>

                         <%
            flags.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost9month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= rep7.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= rep7.username%>"/>
        </div>

        <div class="at-user__name"><%= rep7.username%>#<%= rep7.discriminator %></div>

            <%
            flagsrep7.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/Verified_Bot_Developer.svg" width="20" height="18">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20">

        </ul>
      </div>
    </div>

    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= arkoy.displayAvatarURL({ dynamic: true, format: "png", size: 4096 })%>" alt="<%= arkoy.username %>"/>
        </div>
        <div class="at-user__name"><%= arkoy.username%>#<%= arkoy.discriminator %></div>

               <%
            flagsarkoy.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost18month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= duality.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>"/>
        </div>
        <div class="at-user__name"><%= duality.username%>#<%= duality.discriminator %></div>

            <%
            flagsduality.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">

        </ul>
      </div>
    </div>
    
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= lucas47.displayAvatarURL({ dynamic: true, format: "png", size: 2048 })%>" alt="<%= lucas47.username%>" />
        </div>
        <div class="at-user__name"><%= lucas47.username%>#<%= lucas47.discriminator %></div>

                      <%
            flagslucas47.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">

        </ul>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
<a href="https://pt.namemc.com/profile/wBiel7" target="_blank">
<img src="<%= luisao.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= luisao.username%>"/>
</a>
        </div>
        <div class="at-user__name"><%= luisao.username%>#<%= luisao.discriminator %></div>

                      <%
            flagsluisao.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17"</div>

        </ul>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= rush7.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= rush7.username%>" />
        </div>
        <div class="at-user__name"><%= rush7.username%>#<%= rush7.discriminator %></div>

            <%
            flagsrush7.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost3month.svg" width="20" height="17">

        </ul>
      </div>
    </div>


    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= system1777.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= system1777.username%>"/>
        </div>
        <div class="at-user__name"><%= system1777.username%>#<%= system1777.discriminator %></div>

                       <%
            flagssystem1777.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= start.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= start.username%>"/></div>
        <div class="at-user__name"><%= start.username%>#<%= start.discriminator %></div>

            <%
            flagsstart.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost2month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= amanda.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= amanda.username%>"/></div>
        <div class="at-user__name"><%= amanda.username%>#<%= amanda.discriminator %></div>

            <%
            flagsamanda.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

  <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= finistro.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= finistro.username%>"/></div>
        <div class="at-user__name"><%= finistro.username%>#<%= finistro.discriminator %></div>

            <%
            flagsfinistro.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost6month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

<div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= six.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= six.username%>"/></div>
        <div class="at-user__name"><%= six.username%>#<%= six.discriminator %></div>

            <%
            flagssix.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost6month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

<div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
<a href="https://www.instagram.com/frankzeraa" target="_blank">
<img src="<%= sasa.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= sasa.username%>"/>
</a>
</div>
        <div class="at-user__name"><%= sasa.username%>#<%= sasa.discriminator %></div>

            <%
            flagssasa.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost9month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

<div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= broken.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= broken.username%>"/></div>
        <div class="at-user__name"><%= broken.username%>#<%= broken.discriminator %></div>

            <%
            flagsbroken.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost12month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

<div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
<a href="https://www.instagram.com/aleetjdc/" target="_blank">
<img src="<%= alex.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= alex.username%>"/>
</a>
</div>
        <div class="at-user__name"><%= alex.username%>#<%= alex.discriminator %></div>

            <%
            flagsalex.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

<div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= mcr.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= mcr.username%>"/></div>
        <div class="at-user__name"><%= mcr.username%>#<%= mcr.discriminator %></div>

            <%
            flagsmcr.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

<div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= victor.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= victor.username%>"/></div>
        <div class="at-user__name"><%= victor.username%>#<%= victor.discriminator %></div>

            <%
            flagsvictor.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/early_supporter.svg" width="20" height="15">
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">
            <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/boost1month.svg" width="20" height="17">

        </ul>
      </div>
    </div>

<div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="<%= aztro.displayAvatarURL({ dynamic: true, format: "png", size: 4096 }) %>" alt="<%= aztro.username%>"/></div>
        <div class="at-user__name"><%= aztro.username%>#<%= aztro.discriminator %></div>

            <%
            flagsaztro.forEach(badge => {
                if (badge.name === "Bot" || badge.name === "Verified Bot") return;
                else {
                    %>
            <img src="<%= badge.url %>" width="20" height="15" alt=""/>
            <%
                }
            })
            %>
             <img src="https://raw.githubusercontent.com/yogurtd3vil/badges/main/svg/nitro.svg" width="20" height="15">


        </ul>
      </div>
    </div>

<script>
 var rev = "fwd";
    function titlebar(val){
        var msg  = "<%= server.name %>";
        var res = " ";
        var speed = 100;
        var pos = val;
        msg = ""+msg+"";
        var le = msg.length;
        if(rev == "fwd"){
            if(pos < le){
                pos = pos+1;
                scroll = msg.substr(0,pos);
                document.title = scroll;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "bwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
        else {
            if(pos > 0) {
                pos = pos-1;
                var ale = le-pos;
                scrol = msg.substr(ale,le);
                document.title = scrol;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "fwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
    }
    titlebar(0);
    </script>



        </ul>
      </div>
<center>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=valueToUse%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </center>
    </div>
  </div>
</div>



</body>
</html>
